<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


   
<div class="container">

    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form class="form" method="POST">
<br><br>
                <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label"> Form Name</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" name="name" value="<%=SurveysList.name%>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="owner" class="col-sm-3 col-form-label"> Owner</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="owner" name="owner" value="<%=SurveysList.owner%>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="survey_id" class="col-sm-3 col-form-label"> Survey ID</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="survey_id" name="survey_id" value="<%=SurveysList.survey_id%>">
                    </div>
                </div>


                <div class="row mb-3">
                    <label for="status" class="col-sm-3 col-form-label"> Status</label>
                    <div class="col-sm-9">
                    <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="isActive" checked name="isActive" >
                                
                    
                    <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
</div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="startDate" class="col-sm-3 col-form-label"> Start Date</label>
                    <div class="col-sm-9">
                    <input type="date" class="form-control" id="startDate" name="startDate" value="<%=SurveysList.startDate%>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="endDate" class="col-sm-3 col-form-label"> End Date</label>
                    <div class="col-sm-9">
                    <input type="date" class="form-control" id="endDate" name="endDate" value="<%=SurveysList.endDate%>">
                    </div>
                </div>

               <br>
               
<span class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Edit Questions here  &nbsp;&nbsp;<i class="fas fa-hand-point-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
</span>
  <br/><br/>
  
  <!--Question 1-->
<div class="accordion-item">
    <h2 class="accordion-header" id="Question1">
      <button class="btn-primary accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Edit Question 1
      </button>
    </h2>    
    <div id="collapseTwo" class="accordion-collapse collapse" >
      <div class="accordion-body">
       <div class="row mb-3">
                    <label for="question1" class="col-sm-3 col-form-label">Question 1</label>
                    <div class="col-sm-9">
                    <textarea class="form-control" id="question1"rows="1" name="question1"
                    placeholder="Enter your first question here"><%=SurveysList.question1%></textarea>
                    </div>
                </div>  
        <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
  
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question1option1"
                            name="question1option1" required placeholder="Option 1" value="<%=SurveysList.question1option1%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question1option1"
                            name="question1option2" required placeholder="Option 2" value="<%=SurveysList.question1option2%>">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question1option1"
                            name="question1option3" required placeholder="Option 3" value="<%=SurveysList.question1option3%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question1option4"
                            name="question1option4" required placeholder="Option 4" value="<%=SurveysList.question1option4%>">
                        </div>
  
                    </li>
                </ul>
      </div>
    </div>
  </div>

  <!--Question 2-->
<div class="accordion-item">
    <h2 class="accordion-header" id="Question2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Edit Question 2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="row mb-3">
                    <label for="question2" class="col-sm-3 col-form-label">Question 2</label>
                    <div class="col-sm-9">
                    <textarea class="form-control" id="question2" rows="1" name="question2"
                    placeholder="Enter your second question here"><%=SurveysList.question2%></textarea>
                    </div>
                </div>    

               <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
  
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question2option1"
                            name="question2option1" required placeholder="Option 1" value="<%=SurveysList.question2option1%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question2option2"
                            name="question2option2" required placeholder="Option 2" value="<%=SurveysList.question2option2%>">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question2option3"
                            name="question2option3" required placeholder="Option 3" value="<%=SurveysList.question2option3%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question2option4"
                            name="question2option4" required placeholder="Option 4" value="<%=SurveysList.question2option4%>">
                        </div>
  
                    </li>
                </ul>


                 <br/>
        </div>
    </div>
  </div>


  <!--Question 3-->

<div class="accordion-item">
    <h2 class="accordion-header" id="Question3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Edit Question 3
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
             <div class="row mb-3">
                    <label for="question3" class="col-sm-3 col-form-label">Question 3</label>
                    <div class="col-sm-9">
                    <textarea class="form-control" id="question3" rows="1" 
                    name="question3" placeholder="Enter your third question here"><%=SurveysList.question3%></textarea>
                    </div>
                </div>    

               <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
  
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question3option1"
                            name="question3option1" required placeholder="Option 1" value="<%=SurveysList.question3option1%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question3option2"
                            name="question3option2" required placeholder="Option 2" value="<%=SurveysList.question3option2%>">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question3option3"
                            name="question3option3" required placeholder="Option 3" value="<%=SurveysList.question3option3%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question3option4"
                            name="question3option4" required placeholder="Option 4" value="<%=SurveysList.question3option4%>">
                        </div>
  
                    </li>
                </ul>                
                 <br/>
        </div>
    </div>
  </div>

  <!--Question 4-->
<div class="accordion-item">
    <h2 class="accordion-header" id="Question4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
     Edit Question 4
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row mb-3">
                    <label for="question4" class="col-sm-3 col-form-label">Question 4</label>
                    <div class="col-sm-9">
                    <textarea class="form-control" id="question4" rows="1" 
                    name="question4" placeholder="Enter your fourth question here"><%=SurveysList.question4%></textarea>
                    </div>
                </div>    

               <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
  
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question4option1"
                            name="question4option1" required placeholder="Option 1" value="<%=SurveysList.question4option1%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question4option2"
                            name="question4option2" required placeholder="Option 2" value="<%=SurveysList.question4option2%>">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question4option3"
                            name="question4option3" required placeholder="Option 3" value="<%=SurveysList.question4option3%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question4option4"
                            name="question4option4" required placeholder="Option 4" value="<%=SurveysList.question4option4%>">
                        </div>
  
                    </li>
                </ul>                
                <br/>
      </div>
    </div>
  </div>


  <!--Question 5-->
  <div class="accordion-item">
    <h2 class="accordion-header" id="Question 5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Edit Question 5
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <div class="row mb-3">
                    <label for="question5" class="col-sm-3 col-form-label">Question 5</label>
                    <div class="col-sm-9">
                    <textarea class="form-control" id="question5" rows="1"
                    name="question5" placeholder="Enter your fifth question here"><%=SurveysList.question5%></textarea>
                    </div>
                </div>    

               <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
  
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question5option1"
                            name="question5option1" required placeholder="Option 1" value="<%=SurveysList.question5option1%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question5option2"
                            name="question5option2" required placeholder="Option 2" value="<%=SurveysList.question5option2%>">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question5option3"
                            name="question5option3" required placeholder="Option 3"
                             value="<%=SurveysList.question5option3%>">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control"
                            id="question5option4"
                            name="question5option4" required placeholder="Option 4"  value="<%=SurveysList.question5option4%>">
                        </div>
  
                    </li>
                </ul>
<br/>
      </div>
    </div>
  </div>
<br/>

               
                <!-- submit button-->
                <a href="/Edit"><button class="btn btn-primary" type="submit">
                            <i class="fas fa-edit"></i> Submit</button></a>
                <a href="/" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
                <br><br>
            </form>
        </div>
    </div>

</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
