

                                          <!--Response page-->




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 

 <link rel="stylesheet" href="/Content/app.css">

                                <!--survey name-->

<h1><%=SurveysList.name%> Survey</h1><br>

<form class="form" method="POST">
                                <!--question 1-->
      <p><b>Question 1: <%=SurveysList.question1%></b></p>

    <!--option 1 for question 1-->

      <input type="radio" id="question1option1" name="question1" value="<%=SurveysList.question1option1%>" required>
      <label for="question1option1"><%=SurveysList.question1option1%></label><br>

    <!--option 2 for question 1-->

      <input type="radio" id="question1option2" name="question1" value="<%=SurveysList.question1option2%>">
      <label for="question1option2"><%=SurveysList.question1option2%></label><br>

    <!--option 3 for question 1-->

      <input type="radio" id="question1option3" name="question1" value="<%=SurveysList.question1option3%>">
      <label for="question2option3"><%=SurveysList.question1option3%></label> <br>  

    <!--option 4 for question 1-->

      <input type="radio" id="question1option4" name="question1" value="<%=SurveysList.question1option4%>">
      <label for="question2option3"><%=SurveysList.question1option4%></label> <br>  <br>



                                    <!--question 2-->

    <p><b>Question 2: <%=SurveysList.question2%></b></p>

    <!--option 1 for question 2-->

      <input type="radio" id="question2option1" name="question2" value="<%=SurveysList.question2option1%>" required>
      <label for="question2option1"><%=SurveysList.question2option1%></label><br>

    <!--option 2 for question 2-->

      <input type="radio" id="question2option2" name="question2" value="<%=SurveysList.question2option2%>">
      <label for="question2option2"><%=SurveysList.question2option2%></label><br>

    <!--option 3 for question 2-->

      <input type="radio" id="question2option3" name="question2" value="<%=SurveysList.question2option3%>">
      <label for="question2option3"><%=SurveysList.question2option3%></label> <br>  

    <!--option 4 for question 1-->

      <input type="radio" id="question2option4" name="question2" value="<%=SurveysList.question2option4%>">
      <label for="question2option4"><%=SurveysList.question2option4%></label> <br>  <br>






                                      <!--question 3-->

    <p><b>Question 3: <%=SurveysList.question3%></b></p>

    <!--option 1 for question 3-->

      <input type="radio" id="question3option1" name="question3" value="<%=SurveysList.question3option1%>" required>
      <label for="question3option1"><%=SurveysList.question3option1%></label><br>

    <!--option 2 for question 3-->

      <input type="radio" id="question3option2" name="question3" value="<%=SurveysList.question3option2%>">
      <label for="question3option2"><%=SurveysList.question3option2%></label><br>

    <!--option 3 for question 3-->

      <input type="radio" id="question3option3" name="question3" value="<%=SurveysList.question3option3%>">
      <label for="question3option3"><%=SurveysList.question3option3%></label> <br>  

    <!--option 4 for question 3-->

      <input type="radio" id="question3option4" name="question3" value="<%=SurveysList.question3option4%>">
      <label for="question3option4"><%=SurveysList.question3option4%></label> <br>  <br>







                                      <!--question 4-->

    <p><b>Question 4: <%=SurveysList.question4%></b></p>

    <!--option 1 for question 4-->

      <input type="radio" id="question4option1" name="question4" value="<%=SurveysList.question4option1%>" required>
      <label for="question4option1"><%=SurveysList.question4option1%></label><br>

    <!--option 2 for question 4-->

      <input type="radio" id="question4option2" name="question4" value="<%=SurveysList.question4option2%>">
      <label for="question4option2"><%=SurveysList.question4option2%></label><br>

    <!--option 3 for question 4-->

      <input type="radio" id="question4option3" name="question4" value="<%=SurveysList.question4option3%>">
      <label for="question4option3"><%=SurveysList.question4option3%></label> <br>  

    <!--option 4 for question 4-->

      <input type="radio" id="question4option4" name="question4" value="<%=SurveysList.question4option4%>">
      <label for="question4option4"><%=SurveysList.question4option4%></label> <br>  <br>







                                      <!--question 5-->

    <p><b>Question 5: <%=SurveysList.question5%></b></p>

    <!--option 1 for question 5-->

      <input type="radio" id="question5option1" name="question5" value="<%=SurveysList.question5option1%>" required>
      <label for="question5option1"><%=SurveysList.question5option1%></label><br>

    <!--option 2 for question 5-->

      <input type="radio" id="question5option2" name="question5" value="<%=SurveysList.question5option2%>">
      <label for="question5option2"><%=SurveysList.question5option2%></label><br>

    <!--option 3 for question 5-->

      <input type="radio" id="question5option3" name="question5" value="<%=SurveysList.question5option3%>">
      <label for="question5option3"><%=SurveysList.question5option3%></label> <br>  

    <!--option 4 for question 5-->

      <input type="radio" id="question5option4" name="question5" value="<%=SurveysList.question5option4%>">
      <label for="question5option4"><%=SurveysList.question5option4%></label> <br>  <br>


    
          <!-- submit button-->
          <a href="/response"><button class="btn btn-primary" type="submit">
                      <i class="fas fa-edit"></i> Submit</button></a>
          <a href="/" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
          <br><br>

        </div>

    </div>

</form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
